<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    
    <title>What The Fuck Is Lukas Listening To?!</title>
    <link rel="stylesheet" href="~/lib/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/colors.css" />
</head>
<body class="text-center">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <header class="masthead mb-auto text-left navbar-light bg-white border-bottom">
            <div class="inner">

                <nav class="navbar navbar-masthead justify-content-center">
                    <a class="navbar-brand" asp-page="Index">What The Fuck Is Lukas Listening To?!</a>
                    <a class="nav-link" asp-area="" asp-page="/About">About</a>
                </nav>
            </div>
        </header>

        <main role="main" class="inner cover">
            @RenderBody()
        </main>

        <footer class="mastfoot mt-auto border-top">
            <div class="inner">
                <p>Copyright &copy; 2020 - <a href="https://lukas.wolfsteiner.media">Lukas Wolfsteiner</a></p>
            </div>
        </footer>
    </div>

    <script src="~/lib/js/jquery.min.js"></script>
    <script src="~/lib/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>