@page
@model IndexModel

<p class="h2">Lukas is currently listening to</p>

<p class="h1">
    <em class="text-muted branded-text border branded-border"><a href="@Model.Track.Link" class="branded-text">@Model.Track.Title</a></em> 
    
    <small><i>by</i></small>
    
    <em class="text-muted branded-text border branded-border"><a href="@Model.Track.Link" class="branded-text">@Model.Track.Artist</a></em>
</p>

<p>check my <a class="branded-text" href="http://last.fm/user/Twnksinr">last.fm profile</a> for previous tracks!</p>

<p class="font-italic font-weight-light text-decoration-underline"><small><a asp-page="Index">...and what about now?</a></small></p>